<div id="contextMenu" class="context-menu" style="display: none; position: absolute; z-index: 10000;">
    <ul class="list-unstyled">
        <li id="viewprofilecontext">Profile</li>
        <li id="addfriendcontext">Add Friends</li>
        <li id="blockusercontext">Block</li>
    </ul>
</div>
<div class="row fixed-bottom bg-light p-3 shadow" id="dashbase" style="height: 25vh; background-color: rgb(198, 213, 230) !important; border-top: 3px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1);">    <div class="col-2 text-center">
        <img src="/static/{{ userprofile.img_profile }}" alt="profile-pic" class="img-fluid rounded-circle" style="max-width: 10vh; border: 3px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1);">
        <div id="username" class="dash_username"><h4>{{ userprofile.nickname }}</h4></div>
        <button id="profile" class="btn btn-info btn-sm mb-1">Profile</button>
        <button id="settings" class="btn btn-info btn-sm mb-1">Settings</button>
        <button id="logout" class="btn btn-danger btn-sm mb-1">Log Out</button>
    </div>
    <div class="col-6">
        <h6>General Channel</h6>
        <div id="messages" class="chat-log overflow-auto" style="height: 13vh; padding: 10px; border: 3px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1); border-radius: 4px;"></div>
        <form id="dashboard_chat_form" class="mt-2">
            <input type="text" name="message" class="form-control" style="height: 4vh;" placeholder="Type a message..."/>
        </form>
    </div>
    <div class="col-2">
        <h6>Players Online</h6>
        <div id="users" class="overflow-auto" style="height: 14vh; background-color: white; padding: 1vh 3vh; border: 1px solid #ccc; border: 3px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1); border-radius: 4px;"></div>
    </div>
    <div class="col-2">
        <div id="dashboard-friendlist" class="mb-3">
            <h6>Online Friends</h6>
        </div>
        <div id="dashboard-pending">
            <h6>Pending Requests</h6>
        </div>
    </div>
</div>
