<div id="contextMenu" class="context-menu" style="display: none; position: absolute; z-index: 10000;">
    <ul class="list-unstyled">
        <li id="viewprofilecontext">Profile</li>
        <li id="addfriendcontext">Add Friends</li>
        <li id="blockusercontext">Block</li>
    </ul>
</div>
<div id="friendContextMenu" class="context-menu" style="display: none; position: absolute; z-index: 10000;">
    <ul class="list-unstyled">
        <li id="invitegamecontext">Invite in game</li>
        <li id="invitetournamentcontext">Invite in lobby</li>
        <li id="removefriendcontext">Remove friend</li>
    </ul>
</div>
<div id="requestContextMenu" class="context-menu" style="display: none; position: absolute; z-index: 10000;">
    <ul class="list-unstyled">
        <li id="acceptrequestcontext">Accept</li>
        <li id="declinerequestcontext">Decline</li>
    </ul>
</div>
<div id="rejoin-lobby" class="rejoin-section">
    <h4>You are in a Lobby<br> leave the lobby to start <br> another game</h4>
    <div style="display:flex;">
        <div style="margin-right: 1vh;">
            <button id="rejoin-lobby-btn-join" class="btn btn-primary">Rejoin Lobby</button>
        </div>
    </div>
</div>
<div class="row fixed-bottom bg-light p-3 shadow" id="dashbase" style="height: 25vh; background-color: rgb(198, 213, 230) !important; border-top: 3px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1);">    <div class="col-2 text-center">
        <img id="profile-picture" src="/static/media/{{ userprofile.img_profile }}" alt="profile-pic" class="img-fluid rounded-circle" style="width: 100px; height: 100px; object-fit: cover; border: 3px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1);">
        <div id="profile-nickname" class="dash_username"><h4>{{ userprofile.nickname }}</h4></div>
        <button id="profile" class="btn btn-info btn-sm mb-1">Profile</button>
        <button id="settings" class="btn btn-info btn-sm mb-1">Settings</button>
        <button id="logout" class="btn btn-danger btn-sm mb-1">Log Out</button>
    </div>
    <div class="col-6">
		<h6>General Channel - 
			<span id="info-icon" style="cursor: pointer; color: #007bff;" data-toggle="tooltip" 
				  title="To send a global message, type in the text box. For private messages, use @username message. For various actions (block user, send friend request, view profile, send invites), right-click on a user in the Players Online list.">
				Need Help?
			</span>
		</h6>		
		<div id="chat_details" class="collapse">
			<p>Per mandare un messaggio globale scrivere nel box di testo, per i messaggi privati usare @nomeutente messaggio.</p>
			<p>Per le varie azioni (blocco utente, amicizia, profilo, inviti) cliccare col tasto destro del mouse sull'utente in Players Online</p>
		</div>
        <div id="messages" class="chat-log overflow-auto" style="height: 13vh; padding: 10px; border: 3px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1); border-radius: 4px;"></div>
        <form id="dashboard_chat_form" class="mt-2">
            <input type="text" name="message" class="form-control" style="height: 4vh;" placeholder="Type a message..."/>
        </form>
    </div>
    <div class="col-2">
        <h6>Players Online</h6>
        <div id="users" class="overflow-auto" style="height: 17.7vh; background-color: white; padding: 1vh 3vh; border: 1px solid #ccc; border: 3px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1); border-radius: 4px;"></div>
    </div>
    <div class="col-2">
        <div class="mb-2">
            <h6>Friends</h6>
            <div id="dashboard-friendlist" class="overflow-auto" style="height: 7.5vh; background-color: white; padding: 1vh 3vh; border: 1px solid #ccc; border: 3px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1); border-radius: 4px;"></div>
        </div>
        <div>
            <h6>Friends Requests</h6>
            <div id="pending-requests" class="overflow-auto" style="height: 7vh; background-color: white; padding: 1vh 3vh; border: 1px solid #ccc; border: 3px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1); border-radius: 4px;"></div>
        
        </div>
    </div>
</div>
