{% load static %}
<div id="wait-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <h2>Waiting for other players...</h2>
    </div>
</div>
<div id="gameover-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <h2 id="modal-title"></h2>
        <p id="modal-message"></p>
        
        <!-- Dettagli del Match -->
        <div id="match-details" style="display: none;">
            <h4>Match Details</h4>
            <p>Game: <strong id="detail-game-name"></strong></p>
            <p>Type: <strong id="detail-game-type"></strong></p>
            <p>Mode: <strong id="detail-game-mode"></strong></p>
            <p>Rules: <strong id="detail-game-rules"></strong></p>
            <p id="detail-time-limit" style="display: none;">Time Limit: <strong id="detail-game-timelimit"></strong> min</p>
            <p id="detail-score-limit" style="display: none;">Score Limit: <strong id="detail-game-scorelimit"></strong></p>
            <p>Balls: <strong id="detail-game-balls"></strong></p>
            <p>Boost: <strong id="detail-game-boost"></strong></p>
        </div>

        <!-- Punteggi finali -->
        <div id="final-scores" style="display: none;">
            <h4>Final Scores</h4>
            <ul id="score-list"></ul>
        </div>
    </div>
</div>
<div class="row fixed-bottom bg-light p-3 shadow" id="dashbase" style="height: 25vh; background-color: rgb(198, 213, 230) !important; border-top: 3px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1);">
    <div class="col-2 text-center">
        <img src="/static/media/{{ userprofile.img_profile }}" alt="profile-pic" class="img-fluid rounded-circle" style="width: 100px; height: 100px; object-fit: cover; border: 3px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1);">
        <div id="username" class="dash_username"><h4>{{ userprofile.nickname }}</h4></div>
        <button id="profile" class="btn btn-info btn-sm mb-1">Profile</button>
        <button id="settings" class="btn btn-info btn-sm mb-1">Settings</button>
        <button id="logout" class="btn btn-danger btn-sm mb-1">Log Out</button>
    </div>
    <div class="col-8 text-center">
        <div id="game-timer" data-timer="{{game_info.time}}">
            <span id="countdown"></span>
        </div>
        <h6>Players score:</h6>
        <div class="row justify-content-center">
                {% if game_info.mode == '2v2' %}
                    <div class="col-4 text-center">
                        <div>Team 1: <strong id="team1score" style="font-size: 1.5em;">0</strong></div>
                        <div class="row">
                            <div class="col-6">
                                <img src="/static/media/{{ userprofile.img_profile }}" alt="player1-pic" class="img-fluid rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
                                <div id="player0" class="col-2 text-center player m-2" 
                        data-right="{{ players.0.controls.right|default:'' }}" 
                        data-left="{{ players.0.controls.left|default:'' }}" 
                        data-shoot="{{ players.0.controls.shoot|default:'' }}" 
                        data-boost="{{ players.0.controls.boost|default:'' }}">
                        {{ players.0.name }}</div>
                            </div>
                            <div class="col-6">
                                <img src="{% static 'media/profiles/bot.png' %}" alt="player2-pic" class="img-fluid rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
                                <div id="player1">{{ players.1.name }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div>Team 2: <strong id="team2score" style="font-size: 1.5em;">0</strong></div>
                        <div class="row">
                            <div class="col-6">
                                <img src="{% static 'media/profiles/bot.png' %}" alt="player3-pic" class="img-fluid rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
                                <div  id="player2">{{ players.2.name }}</div>
                            </div>
                            <div class="col-6">
                                <img src="{% static 'media/profiles/bot.png' %}" alt="player4-pic" class="img-fluid rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
                                <div  id="player3">{{ players.3.name }}</div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% for player in players %}
                        {% with forloop.counter0 as counter %}
                            {% if game_info.mode == '1v1' and counter < 2 or game_info.mode != '1v1' %}
                                {% if game_info.mode == '1v1' and counter == 1 %}
                                    <div id="player{{ counter }}" class="col-2 text-center player m-2" 
                                        data-right="{{ player.controls.right|default:'' }}"
                                        data-left="{{ player.controls.left|default:'' }}" 
                                        data-shoot="{{ player.controls.shoot|default:'' }}" 
                                        data-boost="{{ player.controls.boost|default:'' }}"
                                        {% if game_info.type == 'remote-game' or game_info.type == 'tournament' %}
                                            data-keyleft="{{ player.controls.keyleft|default:'' }}"
                                            data-keyright="{{ player.controls.keyright|default:'' }}"
                                            data-keyshoot="{{ player.controls.keyshoot|default:'' }}"
                                            data-keyboost="{{ player.controls.keyboost|default:'' }}"
                                            data-posit="{{ player.player_posit|default:'' }}"
                                        {% endif %}>
                                {% else %}
                                    <div id="player{{ counter }}" class="col-2 text-center player m-2" 
                                        data-right="{{ player.controls.right|default:'' }}" 
                                        data-left="{{ player.controls.left|default:'' }}" 
                                        data-shoot="{{ player.controls.shoot|default:'' }}" 
                                        data-boost="{{ player.controls.boost|default:'' }}"
                                        {% if game_info.type == 'remote-game' or game_info.type == 'tournament' %}
                                            data-keyleft="{{ player.controls.keyleft|default:'' }}"
                                            data-keyright="{{ player.controls.keyright|default:'' }}"
                                            data-keyshoot="{{ player.controls.keyshoot|default:'' }}"
                                            data-keyboost="{{ player.controls.keyboost|default:'' }}"
                                            data-posit="{{ player.player_posit|default:'' }}"
                                        {% endif %}>
                                {% endif %}
                                        <div>
                                            <strong id="player{{ counter }}score" style="font-size: 1.5em;">
                                                {% if counter == 0 %}
                                                    {{ game_info.player1_score }}
                                                {% else %}
                                                    {{ game_info.player2_score }}
                                                {% endif %}
                                            </strong>
                                        </div>
                                        {% if player.name == 'Bot 1' or player.name == 'Bot 2' or player.name == 'Bot 3' %}
                                            <img src="{% static 'media/profiles/bot.png' %}" alt="player-pic" class="img-fluid rounded-circle" style="width: 100px; height: 100px; object-fit: cover; border: 2px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1);">
                                        {% else %}
                                            <img src="/static/media/{{ userprofile.img_profile }}" alt="player-pic" class="img-fluid rounded-circle" style="width: 100px; height: 100px; object-fit: cover; border: 2px ridge rgb(107, 107, 168); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1);">
                                        {% endif %}
                                        <div class="dash_username"><h5>{{ player.name }}</h5></div>
                                    </div>
                            {% endif %}
                        {% endwith %} 
                    {% endfor %}
                {% endif %}
            </div>
    </div>
    <div class="col-2 text-left">
        <button id="leavegame" class="btn btn-danger btn-sm mb-3 mt-2">Leave Game</button>
        <h6 id="game-details">Game Details</h6>
        <div class="row">
            <div class="col">
                <div class="small">Game: <strong>{{ game_info.name }}</strong></div>
                <div class="small">Type: <strong id="gametype" 
                    {% if game_info.type == 'tournament' %} 
                        data-tournament="{{ game_info.tournament_id }}"
                    {% else %} 
                    {% endif %}>{{ game_info.type }}</strong> </div>
                <div class="small">Mode: <strong id="gamemode">{{ game_info.mode }}</strong> </div>
            </div>
            <div class="col">
                <div class="small">Rules:<strong id="gamerules">{{ game_info.rules }}</strong> </div>
                {% if game_info.rules == 'time' %}
                    <div class="small">Time Limit: <strong id="gametime">{{ game_info.limit  }}</strong>  min</div>
                {% else %}
                    <div class="small">Score Limit: <strong id="gamescore">{{ game_info.limit }}</strong> </div>
                {% endif %}
                <div class="small">Balls: <strong id="gameballs">{{ game_info.balls }}</strong> </div>
                <div class="small">Boost: <strong id="gameboost">{{ game_info.boost }}</strong> </div>
            </div>
        </div>
    </div>    
</div>

