body {
    font-family: 'Titillium Web', sans-serif !important;
}
  
  /* Puoi anche impostare il font solo per specifici elementi */
h1, h2, h3, h4, h5, h6, p, div {
font-family: 'Titillium Web', sans-serif !important;
font-weight: 700;
}
.context-menu {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.context-menu ul li {
    padding: 8px;
    cursor: pointer;
}
.context-menu ul li:hover {
    background-color: #f0f0f0;
}

.chat-log {
    height: 15vh;
    overflow-y: scroll;
    background-color: white;
}

#main-container {
    margin-bottom: 25vh;
    min-width: 70vh;
    min-height: auto;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(198, 213, 230) !important;
    border: 3px ridge rgb(107, 107, 168);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    white-space: nowrap;
}

.card {
    min-width: 30vh; /* Assicura che le card abbiano una larghezza minima */
    width: auto; /* Permette alle card di espandersi secondo necessità */
}

.card-title {
    white-space: nowrap; /* Impedisce al testo di andare a capo */
    overflow: hidden;
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione se il testo è troppo lungo */
}
.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    border-radius: 50%;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*      SEZIONE TORNEI                */

.round {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.match {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 150px;
}

.player-slot {
    padding: 6px;
    margin: 6px;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff; /* Sfondo bianco per contrastare con i bordi */
}

.player-slot.occupied {
    background-color: #0eb108;
    cursor: not-allowed;
}

/* Testo per la descrizione delle semifinali e della finale */
.round-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}


/*    FINE SEZIONE TORNEI                */
.rejoin-section {
    position: absolute;
    top: 63vh;
    right: 61vh;
    z-index: 9999;
    text-align: center;
    background-color: rgb(198, 213, 230) !important;
    border: 3px ridge rgb(107, 107, 168);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1%;
    display: none;
}

.disconnect {
    color: gray;
}

.ready {
    color: green;
}

.user-blocked {
	color: red !important;
}

#user-stats-chart {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 600px; /* Limita la larghezza massima */
    height: auto;
}
.card-footer {
    padding: 20px;
    text-align: center;
}

#stat-values {
    font-size: 1.1em; /* Leggermente più grande */
}

.text-large {
    font-size: 1.2em; /* Etichette più grandi */
    font-weight: bold;
}

